<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- jorge luis sepulveda abreu
  2020-10714 -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>

    <!-- <ion-item>
      <ion-input
        label="Titulo:"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder="Enter tittle"
      >
      </ion-input>
    </ion-item> -->

    <ion-input label="Titulo:" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
    <ion-input type="date" label="Fecha:" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
    <ion-input label="Descripcion:" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-input type="file" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>para tomar foto.</ion-label>
      <ion-icon name="camera" size="large" slot="start"></ion-icon>
    </ion-item>

    <!-- <ion-button color="secondary" (click)="takePicture()">
      Take Picture
    </ion-button> -->

    <ion-item>
      <ion-label>para grabar audio.</ion-label>
      <ion-icon name="mic" size="large" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-button color="secondary">
        <ion-icon slot="start" name="add"></ion-icon>
        Add
      </ion-button>
    </ion-item>

  </ion-item-group>

</ion-content>
